body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Report {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.parteTextual{
  width: 400px;
  align-items: center;
  display: flex;
  justify-content: flex-start;

}

.ImageReport {
  width: 30px;

}

.ReportItemTitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 10px;
}
